@page "/"

<div class="container">
    <div class="jumbotron">
        <h4>Cognitive Playground Miguel Molina powered with Blazor</h4>
        <p class="lead">Take a tour on the samples, I'll be updating them and checking all Cognitive Services i can on some funny ways .... WIP</p>
        <p>
            <NavLink class="btn btn-primary my-2" href="textanalytics">
                Text Analytics
            </NavLink>
        </p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>About Me</h4>
            <p>
                <span>Github: <a class="dont-break-out" href="https://github.com/molidestroyer/EntityRecognition">https://github.com/molidestroyer/EntityRecognition</a></span>
                <hr />
                <span>LinkedIn: <a class="dont-break-out" href="https://www.linkedin.com/in/miguel-molina-montilla-792441a/">https://www.linkedin.com/in/miguel-molina-montilla-792441a/</a></span>
            </p>
        </div>
        <div class="col-lg-6">
            <h4>Thanks to the following links for helping me</h4>
            <p>
                <span>MediawikiSharp_API: <a class="dont-break-out" href="https://github.com/BartoszKopec/MediawikiSharp_API">https://github.com/BartoszKopec/MediawikiSharp_API</a></span>
            </p>
        </div>
    </div>

    <footer class="footer">
        <p>© Miguel Molina 2018</p>
    </footer>

</div>


