@page "/"

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Cognitive Playground Miguel Molina powered with Blazor</h1>
        <p class="lead text-muted">Take a tour on the samples, I'll be updating them and checking all Cognitive Services i can on some funny ways .... WIP</p>
        <p>
            <NavLink class="btn btn-primary my-2" href="textanalytics">
                Text Analytics
            </NavLink>
        </p>
    </div>
</section>
<div class="container mt-2">
    <h4>Github: <a href="https://github.com/molidestroyer/EntityRecognition">https://github.com/molidestroyer/EntityRecognition</a></h4>
    <hr />
    <h4>LinkedIn: <a href="https://www.linkedin.com/in/miguel-molina-montilla-792441a/">https://www.linkedin.com/in/miguel-molina-montilla-792441a/</a></h4>
</div>

<div class="container mt-2">
    <h3>Thanks to the following links for helping me</h3>
    <h2>MediawikiSharp_API: <a href="https://github.com/BartoszKopec/MediawikiSharp_API">https://github.com/BartoszKopec/MediawikiSharp_API</a></h2>
</div>

